@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*transition: all 500ms;*/
    /*border: 1px grey dashed;*/
}

body {

    font-family: "Fredoka", serif;
}

:root {

    --title-color: #e53170;
    --card-color: black;
    --card-text-color: white;
    --card-mail-color: #44a1d5;

}


.card {

    max-width: 450px;
    max-height: 125px;
    border-radius: 0;
    background-color: var(--card-color);
    color: var(--card-text-color);
    border: none;
}

h1{
    color: var(--title-color);
    padding: 1rem;
    font-weight: bold;
}


h5 {
    margin: 0;
    padding: 0;
    padding-bottom: 0.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card-body{

    padding: 0;
    margin: 0;
    padding-top: 1rem;
    font-size: 1.2rem;
}

#card-mail{

    margin-top: 0.3rem;
    color: var(--card-mail-color);
}